nav {
    background-color: lightblue;
}

button {
    background-color: red;
}

body {
    background-image: url(../img/bg.png);
    width: 100vw;
    background-repeat: no-repeat;

    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;

    -o-background-size: cover;
    background-size: cover;
}


/* Home Page */
#myCarousel {
    margin-top: 0vh;
}

.carousel-inner {
    height: 60vh;
}

#car-img {
    height: 60vh;
}

div.jumbotron {
    padding: 1vw;
    height: fit-content;
    margin-top: 10vh;
    margin-bottom: none;
    text-align: center;
    background-color: lightblue;
    color: #337AB7;
}

/* Mission Page */
#mission-jumbo {
    margin-top: 12vh;
}

#mission-header {
    text-decoration: underline;
}

#mission-list {
    list-style: inside;
}

/* Programs Page */
#tabs {
    margin-top: 12vh;
}

/* Donation Page */
#donation-list {
    list-style: none;
    text-align: center;
}

#other-donation {
    width: 10vw;
    margin: auto;
    text-align: center;
}

#other-label {
    display: inline-block;
    text-align: right;
}

/* Contact Page */
#contact-jumbo {
    margin-top: 0;
}

#contact-form {
    background-color: lightblue;
    margin-top: 2px;
}

.form-inline {
    margin-top: none;
}

.form-group {
    margin-right: 3vw;
    margin-left: auto;
}

form.form-inline {
    text-align: center;
}

#contact-header {
    text-decoration: underline;
}

#contact-info {
    text-align: center;
}

#contact-list {
    list-style: none;
}